@charset "UTF-8";

header.header-detalhes {
    background-color: black;
    color: white;
    padding: 10px 0px;
    display: flex;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
}

header.header-detalhes span {
    margin: 0px 10px;
    padding: 0px 5px;
    cursor: pointer;
}

/* main */
.container-detalhes {
    padding-top: 49px;
}

/* img */
.img-detalhes {
    background-color: #494949;
    padding: 1px;
}

img {
    background-color: #3f3f3f;
    width: 100%;
    height: 80vh;
    display: block;
    margin: auto;
}

/* info area */
.info-movie {
    background-color: #060b22;
    color: white;
    padding: 10px;
    display: block;
}

/*title head*/
.title-movie {
    display: block;
    text-align: left;
}

div.title-movie h2 {
    padding: 0px 0px 10px 0px;
}

.gen-movie {
    padding: 0px 0px 10px 0px;
    color: #c7c7c7;
    font-weight: bold;
}

/*Faixa abaixo do titulo*/
.title-movie aside {
    display: flex;
    padding-bottom: 10px;
    gap: 10px;
}

.title-movie aside div {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #525252;
}

div.title-movie aside div p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px;
}

div.title-movie aside div p span {
    padding-right: 5px;
}

/*Descrição Abaixo da faixa*/
.description {
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: justify;
}

.description strong {
    text-decoration: underline;
}

/*Creditos*/
.credits div {
    text-align: left;
}

.credits div h3 {
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .container-detalhes {
        font-size: 20px;
    }

    img {
        width: 600px;
        height: 800px;
    }

    /* info area */
    .title-movie aside {
        padding-bottom: 18px;
    }

    .description {
        padding-right: 20px;
    }

}

@media screen and (min-width: 900px) {
    .container-detalhes {
        display: flex;
        padding-top: 49px;
    }

    img {
        width: 35dvw;
        height: 100dvh;
        display: block;
        margin: auto;
    }

    .info-movie {
        padding: 15px;
    }

    .description {
        padding-right: 40px;
    }
}