@charset "UTF-8";

header.header-detalhes {
    background-color: black;
    color: white;
    padding: 10px 0px;
    display: flex;
    width: 100%;
    height: auto;
    position: fixed;
}

header.header-detalhes span {
    margin: 0px 10px;
    padding: 0px 5px;
    cursor: pointer;
}

/* main */
.container-detalhes {
    padding-top: 49px;
}

/* img */
.img-detalhes {
    background-color: #494949;
    padding: 1px;
}

img {
    background-color: #3f3f3f;
    width: 100%;
    height: 80vh;
    display: block;
    margin: auto;
}

/* info */
section.info-movie {
    background-color: #14162b;
    color: white;
    padding: 10px;
    display: block;
}

div.title-movie {
    display: block;
    text-align: left;
}

div.title-movie h2 {
    padding: 0px 0px 10px 0px;
}

div.title-movie h3 {
    padding: 0px 0px 10px 0px;
}

/*Faixa abaixo do titulo*/
div.title-movie aside {
    display: flex;
    padding-bottom: 10px;
}

div.title-movie aside div {
    padding: 5px 10px 5px 0px;
    border-radius: 10px;
}

div.title-movie aside div p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px;
}

div.title-movie aside div p span {
    padding-right: 4px;
}

/*Descrição Abaixo da faixa*/
.description {
    padding-bottom: 10px;
}

/*Creditos*/
.credits div {
    text-align: left;
}

@media screen and (min-width: 600px) {
    img {
        width: 600px;
        height: 850px;
    }
}

@media screen and (min-width: 900px) {
    .container-detalhes {
        display: flex;
        padding-top: 49px;
    }

    img {
        width: 35dvw;
        height: 100dvh;
        display: block;
        margin: auto;
    }

    /*info area*/
    section.info-movie {
        padding: 10px;
        display: block;
    }
}