@charset "UTF-8";

div.containerSearch {
    width: 100%;
    height: 100%;
}

.containerSearch section h3 {
    padding: 10px 0px 0px 0px;
}

.searchNavbar {
    display: flex;
}

.searchNavbar span {
    margin: auto;
    color: white;
    background-color: black;
    padding: 12px 0px; 
    cursor: pointer;
}

.contentSearch section {
    text-align: left;
    padding-left: 5px;
}

.contentSearch aside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}