@charset "UTF-8";

.container-model {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-model {
    background-color: #000000;
    width: 120px;
    height: 180px;
    border: 1px solid beige;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.img-model { /* Atras da imagem*/
    width: 100%;
    height: 150px;
}

.img-model img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.details-model { /* backgraund atras do botao */
    background-color: #161616;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-model .link-button {
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
    color: white;
}

/*Tela media*/
@media screen and (min-width: 600px) {
    .content-model {
        width: 180px;
        height: 280px;
    }

    .img-model { /* Atras da imagem*/
        width: 100%;
        height: 250px;
    }
}

/*Tela GRANDE*/
@media screen and (min-width: 900px) {
    .content-model {
        width: 230px;
        height: 330px;
    }

    .img-model { /* Atras da imagem*/
        width: 100%;
        height: 300px;
    }
}