@charset "UTF-8";

div.containerSearch {
    background-color: purple;
    width: 100%;
    height: 100%;
}

.nav-button {
    display: block;
    text-align: left;
    padding: 2px 5px;
    border-radius: 10px;
}

.contentSearch {
    background-color: chocolate;
}

.contentSearch section {
    text-align: left;
    padding-left: 5px;
}

.contentSearch aside {
    background-color: brown;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}