@charset "UTF-8";

header.header-detalhes {
    background-color: black;
    color: white;
    padding: 10px 0px;
    display: flex;
    width: 100%;
    height: auto;
}

header.header-detalhes button {
    margin: 0px 10px;
    padding: 0px 5px;
}

/* main */
/* img */
img.img-detalhes {
    background-color: #3f3f3f;
    max-width: 100%;
    max-height: 750px;
    display: block;
}

/* info */
section.info-movie {
    background-color: black;
    color: white;
    padding: 10px;
}

div.title-movie {
    display: block;
    text-align: left;
}

div.title-movie h2 {
    padding: 0px 0px 10px 0px;
}

/*Faixa abaixo do titulo*/
div.title-movie aside {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
}

div.title-movie aside div {
    background-color: #3d3d3d;
    padding: 5px 8px;
    border-radius: 10px;
}

div.title-movie aside div p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px;
}

div.title-movie aside div p span {
    padding-right: 4px;
}

/*Descrição Abaixo da faixa*/
.description {
    padding-bottom: 10px;
}

/*Creditos*/
.credits {
    text-align: left;
}