@charset "UTF-8";

div.contentModel {
    background-color: #ff0000;
    width: 120px;
    height: 150px;
    border: 1px solid beige;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

div.imgModel {
    width: 100%;
    height: 110px;
}

div.detailsModel {
    background-color: #161616;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.detailsModel button {
    background-color: #7a7a7a;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
}