@charset "UTF-8";

div.containerModel {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.contentModel {
    background-color: #ff0000;
    width: 120px;
    height: 180px;
    border: 1px solid beige;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

div.imgModel { /* Atras da imagem*/
    width: 100%;
    height: 150px;
}

div.imgModel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

div.detailsModel { /* backgraund atras do botao */
    background-color: #161616;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.detailsModel button {
    background-color: #7a7a7a;
    border-radius: 5px;
    padding: 1px 5px;
    cursor: pointer;
}