@charset "UTF-8";

div.contentNav {
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

div.containerNav {
    display: block;
    margin: auto 0px;
}

h3 {
    color: white;
}

div.searchArea button {
    border-radius: 50%;
    margin-left: 5px;
    padding: 2px;
}

div.searchArea input[type=text] {
    width: 150px;
}