@charset "UTF-8";

.container-nav {
    background-color: black;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title-nav {
    display: block;
    margin: auto 0px;
}

.title-nav h3 {
    color: white;
}

div.searchArea {
    display: flex;
}

div.searchArea span {
    border-radius: 50%;
    margin-left: 5px;
    padding: 2px;
    color: white;
    background-color: rgb(82, 82, 82);
}

div.searchArea input[type=text] {
    width: 150px;
    border-radius: 5px;
    padding-left: 2px;
}

/*Telas medias*/
@media screen and (min-width: 600px) {
    .container-nav {
        padding: 15px 30px;
        font-size: 20px;
    }
}

/*Tela GRANDE*/
@media screen and (min-width: 900px) {
    .container-nav {
        padding: 20px 40px;
    }
}