@charset "UTF-8";

.container-nav {
    background-color: black;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title-nav {
    display: block;
    margin: auto 0px;
}

.title-nav h2 {
    color: white;
}

.search-area {
    display: flex;
}

.search-area input[type=text] {
    width: 150px;
    border-radius: 5px;
    padding-left: 2px;
}

.search-area span {
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 5px;
    padding: 2px;
    color: white;
    background-color: #525252;
    cursor: pointer;
}

.search-area span:hover {
    color: #ffffffad;
    background-color: #5252529f;
    border: 1px solid #ffffffb7;
}

/*Telas medias*/
@media screen and (min-width: 600px) {
    .container-nav {
        padding: 15px 30px 15px 10px;
    }

    .title-nav h3 {
        font-size: 20px;
    }

    .search-area input[type=text] {
        padding-left: 5px;
    }
}

/*Tela GRANDE*/
@media screen and (min-width: 900px) {
    .container-nav {
        padding: 20px 60px 20px 30px;
    }

    .title-nav h3 {
        font-size: 30px;
    }

    .search-area input[type=text] {
        height: 30px;
        width: 200px;
    }
}