@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Search Area */
    input[type=text] {
        border: 2px solid black;
        font-size: 1.4em;
    }

    button.button-area {
        border: 2px solid black;
        width: 40px;
        height: 40px;
    }

    button.button-area span {
        font-size: 30px;
    }

    /* Resposta Area */
    section.container-resposta {
        height: 450px;
        min-width: 360px;
        max-width: 400px;
    }

    div.content-info {
        margin-top: 10px;
    }

    p#res-tempo {
        font-size: 1.2em;
    }

    footer {
        font-size: 1em;
    }
}

@media screen and (min-width: 992px) {
    /* Search Area */
    section.container-search {
        padding: 20px 0px ;
    }

    input[type=text] {
        border: 2px solid black;
        font-size: 1.6em;
    }

    button.button-area {
        border: 2px solid black;
        width: 40px;
        height: 40px;
    }

    button.button-area span {
        font-size: 30px;
    }

    /* Resposta Area */
    section.container-resposta {
        height: 470px;
        max-width: 600px;
    }   

    div.content-info {
        margin-top: 10px;
    }

    p#res-tempo {
        font-size: 1.2em;
    }

    footer {
        font-size: 1em;
    }
}   
