@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    /* Search Area */
    section.container-search {
        padding: 20px 0px;
    }

    input[type=text] {
        border: 2px solid black;
        border-radius: 20px;
        font-size: 1.5em;
    }

    button.button-area {
        border: 2px solid black;
        width: 40px;
        height: 40px;
    }

    button.button-area span {
        font-size: 30px;
    }

    /* Resposta Area */
    div.content-resposta {
        position: relative;
    }

    section.container-resposta {
        position: absolute;
        border-radius: 10px;
        transform: translate(50%, 25%);
        right: 50%;
        top: 50%;
    }   

    div.content-info {
        margin-top: 10px;
    }

    p#res-tempo {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    /* Search Area */
    section.container-search {
        padding: 20px 0px;
    }

    input[type=text] {
        border: 2px solid black;
        border-radius: 20px;
        font-size: 1.5em;
    }

    button.button-area {
        border: 2px solid black;
        width: 40px;
        height: 40px;
    }

    button.button-area span {
        font-size: 30px;
    }

    /* Resposta Area */
    div.content-resposta {
        position: relative;
    }

    section.container-resposta {
        position: absolute;
        border-radius: 10px;
        transform: translate(50%, 25%);
        right: 50%;
        top: 50%;
    }   

    div.content-info {
        margin-top: 10px;
    }

    p#res-tempo {
        font-size: 1.2em;
    }
}   
