* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #008cff;
}

header {
    padding: 10px 0px;
    background-color: #008cff;
}

header h1 {
    margin-left: 5px;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #0071ce;
}

section.buscar-cidade {
    display: block;
    text-align: center;
    padding: 10px 0px;
}

input[type=text] {
    background-color: #d8f1ff;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    padding: 6px;
    font-size: 1em;
}

button.search-button {
    background-color: #259dff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

button.search-button span {
    font-size: 20px;
}

/* Resposta */
section.resposta {
    background-color: #00395f;
    width: 100%;
    height: 200px;
}

div.content-cidade {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

div.content-info p#res-graus {
    text-align: center;
    color: white;
    font-size: 3em;
    font-weight: 600;
    margin-top: 10px;
}

footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}