@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html { 
    background-image: linear-gradient(to top, #004883, #259dff);
    height: 100%;
    width: 100%;
}

header {
    padding: 10px 0px;
    background-color: #5c98ca3f;
}

header h1 {
    margin-left: 5px;
    color: white;
}

/*Container*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.container-resposta {
    background-color: #002b478c;
    min-width: 260px;
    max-width: 360px;
    display: block;
    margin: 100px auto;
    border-radius: 10px;
    transition: 0.5s;
}

/* Search Area */
section.container-search {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

input[type=text] {
    background-color: #d8f1ff;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    padding: 6px;
    font-size: 1.2em;
}

button.button-area {
    text-align: center;
    background-color: #259dff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}

button.button-area:hover {
    background-color: #00395f;
}

/* Resposta Area */
article.city-return {
    padding: 10px 10px 10px 5px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

div.city-area {
    display: flex;
    text-align: left;
}

p.data-atual {
    display: flex;
    text-align: right;
}

div.content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

div.content-info p#res-graus {
    display: block;
    font-size: 3em;
    font-weight: 600;
    margin-top: 10px;
}

img#res-img {
    width: 70px;
    height: 70px;
}

p#res-tempo {
    padding: 10px 0px;
    display: block;
    text-align: center;
    color: white;
}

/*  Proximos Dias */
article.container-next-day {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 10px 5px; 
}

div.model-content {
    background-color: #0000009f;
    color: white;
    display: block;
    margin: auto 5px;
    text-align: center;
    border-radius: 10px;
    flex-shrink: 0;
}

p.dia-titulo {
    padding: 10px 30px;
}

p.dia-temp {
    padding: 10px 30px;
}

/* Footer */
footer {
    padding: 10px 0px;
    color: white;
    text-align: center;
    font-size: 0.9em;
}

footer a {
    color: white;
    text-decoration: none;
}