* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #008cff;
}

header {
    padding: 10px 0px;
    background-color: #008cff;
}

header h1 {
    margin-left: 5px;
    color: white;
}

main {
    width: 100%;
    height: 96vh;
    background-color: #0071ce;
}

/* Search Area */
section.container-search {
    display: block;
    text-align: center;
    padding: 10px 0px;
}

input[type=text] {
    background-color: #d8f1ff;
    border: 1px solid black;
    border-radius: 20px;
    height: 40px;
    padding: 6px;
    font-size: 1em;
}

button.search-button {
    background-color: #259dff;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

button.search-button:hover {
    background-color: #00395f;
}

button.search-button span {
    font-size: 20px;
}

/* Resposta Area */
section.container-resposta {
    background-color: #00395f;
    width: 100%;
    height: 200px;
}

div.city-return {
    padding: 10px 0px 10px 10px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    display: flex;
}

div.content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

div.content-info p#res-graus {
    font-size: 3em;
    font-weight: 600;
    margin-top: 10px;
}

img#res-img {
    width: 70px;
    height: 70px;
    margin-right: 5px;
}

p#res-tempo {
    margin-top: 10px;
    display: block;
    text-align: center;
    color: white;
}

/*  Proximos Dias */
section.container-next-day {
    background-color: #00395f;
    width: 100%;
    height: 180px;
    margin-top: 10px;
    display: flex;
    overflow: scroll;
}

div.model-content {
    background-color: #00000077;
    color: white;
    display: block;
    width: 100px;
    height: 150px;
    margin: auto 10px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

/* Footer */
footer {
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}